pack-ws/webapp/pack-ws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.bbva.com.pe/pack-ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pack-ws"
	targetNamespace="http://www.bbva.com.pe/pack-ws/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.bbva.com.pe/pack-ws/">
      <xsd:element name="listarSolicitudResponse"
      	type="tns:ListarSolicitudResponse">

      </xsd:element>
      <xsd:element name="listarSolicitudRequest"
      	type="tns:ListarSolicitudRequest">
      </xsd:element>

      <xsd:complexType name="HeaderRequest">
      	<xsd:sequence>
      		<xsd:element name="codigoRegistro" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="ultimaPagina" type="tns:Solicitud" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ListarSolicitudBodyRequest">
      	<xsd:sequence>
      		<xsd:element name="tipoDocumento" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="nroDocumento" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="codigoProducto" type="xsd:string"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="estadoSolicitud" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListarSolicitudRequest">
      	<xsd:sequence>
      		<xsd:element name="header" type="tns:HeaderRequest" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="body"
      			type="tns:ListarSolicitudBodyRequest" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
		
      <xsd:complexType name="ListarSolicitudResponse">
      	<xsd:sequence>
      		<xsd:element name="header" type="tns:HeaderResponse"></xsd:element>
      		<xsd:element name="body" type="tns:ListarSolicitudBodyResponse"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
		
      <xsd:complexType name="HeaderResponse">
      	<xsd:sequence>
      		<xsd:element name="codigoRetorno" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="ultimoRegistro" type="tns:Solicitud"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="errores" type="xsd:string"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
		
      <xsd:complexType name="ListarSolicitudBodyResponse">
      	<xsd:sequence>
      		<xsd:element name="solicitudes" type="tns:Solicitud" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
		
      <xsd:complexType name="Solicitud">
      	<xsd:sequence>
      		<xsd:element name="solicitud" type="xsd:string"></xsd:element>
      		<xsd:element name="codigoProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="codigoSubProducto" type="xsd:string"></xsd:element>
      		<xsd:element name="estado" type="xsd:string"></xsd:element>
      		<xsd:element name="fechaAlta" type="xsd:date"></xsd:element>
      		<xsd:element name="importe" type="xsd:double"></xsd:element>
      		<xsd:element name="divisa" type="xsd:string"></xsd:element>
      		<xsd:element name="tipoDOI" type="xsd:string"></xsd:element>
      		<xsd:element name="numDOI" type="xsd:string"></xsd:element>
      		<xsd:element name="codigoCliente" type="xsd:string"></xsd:element>
      		<xsd:element name="contrato" type="xsd:string"></xsd:element>
      		<xsd:element name="plazo" type="xsd:string"></xsd:element>
      		<xsd:element name="oficina" type="xsd:string"></xsd:element>
      		<xsd:element name="ejecutivo" type="xsd:string"></xsd:element>
      		<xsd:element name="tasa" type="xsd:double"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="listarSolicitudRequest">
    <wsdl:part element="tns:listarSolicitudRequest" name="parameters" />
  </wsdl:message>
  <wsdl:message name="listarSolicitudResponse">
    <wsdl:part element="tns:listarSolicitudResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="pack-ws">
    <wsdl:operation name="listarSolicitud">
      <wsdl:input message="tns:listarSolicitudRequest"/>
      <wsdl:output message="tns:listarSolicitudResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pack-wsSOAP" type="tns:pack-ws">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listarSolicitud">
      <soap:operation soapAction="http://www.bbva.com.pe/pack-ws/listarSolicitud"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pack-ws">
    <wsdl:port binding="tns:pack-wsSOAP" name="pack-wsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
